<section *ngIf="!isLoading && champions.length > 0">
    <div id="searchContainer">
        <input id="search" type="search" required (input)="filterList()" [(ngModel)]="searchInput">
        <label for="search"></label>
    </div>


    <div class="row text-center" id="containerChampions">
        <app-champion-card *ngFor="let champion of filteredList | orderBy" class="col s6 m4" [champion]="champion">
        </app-champion-card>
    </div>
</section>

<app-pre-loader *ngIf="isLoading"></app-pre-loader>

