.container {
    width: 100%;
    min-height: 100vh;
}

.sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.sidenav {
    padding: 20px;
    background: #0b0b0b;
    color: white;
    min-width: 180px;
}