/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');


body {
    margin: 0;
    min-height: 100vh;
    background-color: #1b1b1b;
    font-family: 'Nunito Sans', sans-serif;
    margin-top: 60px;
}

#appLoader {
    margin-top: 40vh;
}